---
import "../styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <Font cssVariable="--font-funnel-sans"/>
    <Font cssVariable="--font-jetbrains-mono"/>
    <SEO
      title={Astro.props.title
        ? `${Astro.props.title} - Ferron`
        : "Ferron - a fast, modern web server"}
      description={Astro.props.description}
      openGraph={{
        basic: {
          title: Astro.props.title
            ? `${Astro.props.title} - Ferron`
            : "Ferron - a fast, modern web server",
          type: "website",
          image: `${Astro.url.origin}${Astro.props.image || "/opengraph.png"}`
        },
        optional: {
          description: Astro.props.description
        },
        article: Astro.props.articleMetaData
      }}
      twitter={{
        card: "summary_large_image",
        site: "@ferron_web",
        title: Astro.props.title
          ? `${Astro.props.title} - Ferron`
          : "Ferron - a fast, modern web server",
        image: `${Astro.url.origin}${Astro.props.image || "/opengraph.png"}`,
        description: Astro.props.description
      }}
    />
    <ClientRouter/>
  </head>
  <body>
    <slot/>
  </body>
</html>

<script>
import { init } from "@plausible-analytics/tracker";

init({
  domain: "ferron.sh",
  endpoint: "https://analytics.ferron.sh/api/event",
  autoCapturePageviews: true,
  outboundLinks: true
});
</script>
