---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
import Logo from "./Logo.astro";
import {
  faBook,
  faComments,
  faFileText,
  faX
} from "@fortawesome/free-solid-svg-icons";
import { faGithub } from "@fortawesome/free-brands-svg-icons";

const githubLink = "https://github.com/ferronweb/ferron";
const chatLink = "https://matrix.to/#/#ferronweb:matrix.org";
const docLinks = Astro.props.docLinks;
---

<header class="sticky top-0 z-50 w-full border-b">
  <div
    class="bg-background/95 supports-[backdrop-filter]:bg-background/60 backdrop-blur"
  >
    <div
      class="container max-md:!px-4 flex h-16 items-center justify-between space-x-0"
    >
      <div class="flex gap-6 md:gap-10">
        <a
          href="/"
          class="flex items-center space-x-2"
          aria-label="Ferron logo"
        >
          <Logo class="h-8 w-auto" />
        </a>
      </div>
      <div class="flex-1 items-center justify-end space-x-2 hidden md:flex">
        <nav class="flex items-center space-x-1">
          <a
            href="/#features"
            class="text-sm font-medium transition-colors hover:text-primary px-2 py-2"
          >
            Features
          </a>
          <a
            href="/#benchmarks"
            class="text-sm font-medium transition-colors hover:text-primary px-2 py-2"
          >
            Benchmarks
          </a>
          <a
            href="/#install"
            class="text-sm font-medium transition-colors hover:text-primary px-2 py-2"
          >
            Install
          </a>
          <a
            href="/blog"
            class="text-sm font-medium transition-colors hover:text-primary px-2 py-2 flex items-center gap-1"
          >
            <FontAwesomeIcon icon={faFileText} class="!h-4 w-4" />
            Blog
          </a>
          <a
            href="/docs"
            class="text-sm font-medium transition-colors hover:text-primary px-2 py-2 flex items-center gap-1"
          >
            <FontAwesomeIcon icon={faBook} class="!h-4 w-4" />
            Docs
          </a>
          <div class="ml-2 flex items-center gap-1">
            <a
              href={githubLink}
              target="_blank"
              rel="noreferrer"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"
              aria-label="GitHub"
            >
              <FontAwesomeIcon icon={faGithub} class="w-5 !h-5" />
            </a>
            <a
              href={chatLink}
              target="_blank"
              rel="noreferrer"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"
              aria-label="Chat"
            >
              <FontAwesomeIcon icon={faComments} class="w-5 !h-5" />
            </a>
          </div>
        </nav>
      </div>
      <!-- Mobile Menu Button -->
      <div class="flex md:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-foreground hover:bg-accent hover:text-accent-foreground focus:outline-none cursor-pointer"
          aria-controls="mobile-menu"
          aria-expanded="false"
          data-mobile-menu-button
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile Menu -->
  <div
    class="md:hidden py-4 bg-background w-full h-full overflow-auto z-60 fixed top-0 left-full transition-[left] shrink-0 duration-1000"
    data-mobile-menu
  >
    <div class="flex flex-row justify-between px-4 md:gap-10">
      <a href="/" class="flex items-center space-x-2" aria-label="Ferron logo">
        <Logo class="h-8 w-auto" />
      </a>
      <button
        type="button"
        class="inline-flex items-center justify-center rounded-md p-2 text-foreground hover:bg-accent hover:text-accent-foreground focus:outline-none cursor-pointer"
        aria-controls="close-mobile-menu"
        aria-expanded="false"
        data-mobile-menu-close-button
      >
        <span class="sr-only">Close main menu</span>
        <FontAwesomeIcon icon={faX} class="self-center w-5 !h-5" />
      </button>
    </div>
    <div
      class={`${docLinks ? "whitespace-nowrap overflow-x-auto flex items-center" : "space-y-1"} px-2 pt-2 pb-3`}
    >
      <a
        href="/#features"
        class={`${docLinks ? "inline-block" : "block"} px-3 py-2 text-base font-medium hover:bg-accent hover:text-accent-foreground rounded-md`}
      >
        Features
      </a>
      <a
        href="/#benchmarks"
        class={`${docLinks ? "inline-block" : "block"} px-3 py-2 text-base font-medium hover:bg-accent hover:text-accent-foreground rounded-md`}
      >
        Benchmarks
      </a>
      <a
        href="/#install"
        class={`${docLinks ? "inline-block" : "block"} px-3 py-2 text-base font-medium hover:bg-accent hover:text-accent-foreground rounded-md`}
      >
        Install
      </a>
      <a
        href="/blog"
        class={`${docLinks ? "inline-block" : "block"} px-3 py-2 text-base font-medium hover:bg-accent hover:text-accent-foreground rounded-md`}
      >
        Blog
      </a>
      <a
        href="/docs"
        class={`${docLinks ? "inline-block" : "block"} px-3 py-2 text-base font-medium hover:bg-accent hover:text-accent-foreground rounded-md`}
      >
        Docs
      </a>
      <div class=`${docLinks ? "inline-flex" : "flex mt-4"} space-x-2 px-3`>
        <a
          href={githubLink}
          target="_blank"
          rel="noreferrer"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"
          aria-label="GitHub"
        >
          <FontAwesomeIcon icon={faGithub} class="w-5 !h-5" />
        </a>
        <a
          href={chatLink}
          target="_blank"
          rel="noreferrer"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"
          aria-label="Chat"
        >
          <FontAwesomeIcon icon={faComments} class="w-5 !h-5" />
        </a>
      </div>
    </div>
    {
      docLinks ? (
        <ul class={`flex flex-col my-3 list-none`}>
          {docLinks.map(
            (docLink: {
              href: string;
              target: string;
              sub: boolean;
              label: string;
            }) => (
              <li class="block my-1">
                <a
                  href={docLink.href}
                  target={docLink.target || "_self"}
                  class={`${docLink.sub ? "ml-4" : ""} block align-middle ${Astro.url.pathname == docLink.href ? "bg-secondary" : ""} text-inherit px-2 py-1 mx-1 rounded-sm hover:bg-accent transition-colors`}
                >
                  {docLink.label}
                </a>
              </li>
            )
          )}
        </ul>
      ) : (
        ""
      )
    }
  </div>
</header>

<script>
  function initializeHeader() {
    let menuButton = document.querySelector("[data-mobile-menu-button]");
    let menuClose = document.querySelector("[data-mobile-menu-close-button]");
    let menu = document.querySelector("[data-mobile-menu]");
    let menuLinks = document.querySelectorAll("[data-mobile-menu] a");
    if (menuButton) {
      menuButton.addEventListener("click", (e) => {
        e.preventDefault();
        if (menu) {
          menu.classList.replace("left-full", "left-0");
        }
      });
    }
    if (menuClose) {
      menuClose.addEventListener("click", (e) => {
        e.preventDefault();
        if (menu) {
          menu.classList.replace("left-0", "left-full");
        }
      });
    }
    if (menuLinks) {
      menuLinks.forEach((menuLink) => {
        menuLink.addEventListener("click", () => {
          if (menu) {
            menu.classList.replace("left-0", "left-full");
          }
        });
      });
    }
  }

  document.addEventListener("astro:after-swap", initializeHeader);

  initializeHeader();
</script>
